body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* ===== ENCABEZADO ===== */
.encabezado {
    display: inline-block;
    height: 70px;
    align-items: center;
    width: 100%;
}

.encabezado__izquierda {
    display: inline-block;
}

.encabezado__logo {
    height: 50px;
    margin-left: 200px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 25px;
}

.encabezado__nombre {
    display: inline-block;
    vertical-align: middle;
    line-height: 5px;
    margin-top: 60px;
    margin-left: 2px;
    font-size: 30px;
}

.navegacion {
    float: right;
    line-height: 80px;
    margin-top: 25px;
    margin-right: 200px;
}

.navegacion__enlaces {
    float: left;
    text-decoration: none;
    margin-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(173, 173, 173);
    font-size: 20px;
}

.navegacion__enlaces--boton {
    background-color: rgb(0, 153, 255);
    display: block;
    color: white;
    border-radius: 30px;
    padding: 4px 20px;
}

/* ===== SECCIÓN PRINCIPAL ===== */
.seccion-principal__contenido {
    margin-left: 200px;
    margin-top: 300px;
}

.contenido__titulo {
    font-size: 50px;
    display: block;
    font-weight: bold;
}

.contenido__titulo--inferior {
    margin-top: -20px;
}

.contenido__parrafo {
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(173, 173, 173);
}

.contenido__parrafo--inferior {
    margin-bottom: 60px;
}

.contenido__boton {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    background-color: rgb(118, 200, 252);
    line-height: 20px;
    padding: 15px 30px;
    border-radius: 15px;
}

.seccion-principal__imagen .imagen-principal {
    height: 600px;
    float: right;
    margin-top: -420px;
    margin-right: 150px;
}
